body {
    margin: 0;
    background-color: skyblue;
}

.container {
    padding: 32px;
}

.messages {
    margin: 0;
    padding: 0;
    list-style: none;
}
.messages li {
    display: flex;
    margin-bottom: 32px;
}
li.right-side {
    flex-direction: row-reverse;
}
li.left-side {
    
}

.pic {
    width: 80px;
    text-align: center;
}
.pic img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 1.8;
    max-width: 60%;
    position: relative;
}

.text::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
}

.left-side .text::before {
    top: 12px;
    left: -16px;
    border-right-color: #fff;
}

.right-side .text::before {
    top: 12px;
    right: -16px;
    border-left-color: #fff;
}